{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "anthosevents:v1beta1",
  "name": "anthosevents",
  "version": "v1beta1",
  "revision": "0",
  "title": "Cloud Run for Anthos Events",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "",
  "protocol": "rest",
  "rootUrl": "https://anthosevents.googleapis.com/",
  "mtlsRootUrl": "https://anthosevents.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://anthosevents.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "CloudAuditLogsSource": {
      "id": "CloudAuditLogsSource",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"CloudAuditLogsSource\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudAuditLogsSource.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec defines the desired state of the CloudAuditLogsSource.",
          "$ref": "CloudAuditLogsSourceSpec"
        },
        "status": {
          "description": "Status represents the current state of the CloudAuditLogsSource. This data\nmay be out of date. +optional",
          "$ref": "CloudAuditLogsSourceStatus"
        }
      }
    },
    "ObjectMeta": {
      "id": "ObjectMeta",
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all\npersisted resources must have, which includes all objects users must create.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region.\nIs required when creating\nresources, although some resources may allow a client to request the\ngeneration of an appropriate name automatically. Name is primarily intended\nfor creation idempotence and configuration definition. Cannot be updated.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#names\n+optional",
          "type": "string"
        },
        "generateName": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nGenerateName is an optional prefix, used by the server, to generate a\nunique name ONLY IF the Name field has not been provided. If this field is\nused, the name returned to the client will be different than the name\npassed. This value will also be combined with a unique suffix. The provided\nvalue has the same validation rules as the Name field, and may be truncated\nby the length of the suffix required to make the value unique on the\nserver.\n\nIf this field is specified and the generated name exists, the server will\nNOT return a 409 - instead, it will either return 201 Created or 500 with\nReason ServerTimeout indicating a unique name could not be found in the\ntime allotted, and the client should retry (optionally after the time\nindicated in the Retry-After header).\n\nApplied only if Name is not specified.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#idempotency\n string generateName = 2;",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace defines the space within each name must be unique, within a\nCloud Run region. In Cloud Run the namespace must be equal to either the\nproject ID or project number.",
          "type": "string"
        },
        "selfLink": {
          "description": "(Optional)\n\nSelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n string selfLink = 4;",
          "type": "string"
        },
        "uid": {
          "description": "(Optional)\n\nUID is the unique in time and space value for this object. It is typically\ngenerated by the server on successful creation of a resource and is not\nallowed to change on PUT operations.\n\nPopulated by the system.\nRead-only.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#uids",
          "type": "string"
        },
        "resourceVersion": {
          "description": "(Optional)\n\nAn opaque value that represents the internal version of this object that\ncan be used by clients to determine when objects have changed. May be used\nfor optimistic concurrency, change detection, and the watch operation on a\nresource or set of resources. Clients must treat these values as opaque and\npassed unmodified back to the server. They may only be valid for a\nparticular resource or set of resources.\n\nPopulated by the system.\nRead-only.\nValue must be treated as opaque by clients and .\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#concurrency-control-and-consistency",
          "type": "string"
        },
        "generation": {
          "description": "(Optional)\n\nA sequence number representing a specific generation of the desired state.\nPopulated by the system. Read-only.",
          "type": "integer",
          "format": "int32"
        },
        "creationTimestamp": {
          "description": "(Optional)\n\nCreationTimestamp is a timestamp representing the server time when this\nobject was created. It is not guaranteed to be set in happens-before order\nacross separate operations. Clients may not set this value. It is\nrepresented in RFC3339 form and is in UTC.\n\nPopulated by the system.\nRead-only.\nNull for lists.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "(Optional)\n\nMap of string keys and values that can be used to organize and categorize\n(scope and select) objects. May match selectors of replication controllers\nand routes.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/labels",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "(Optional)\n\nAnnotations is an unstructured key value map stored with a resource that\nmay be set by external tools to store and retrieve arbitrary metadata. They\nare not queryable and should be preserved when modifying objects. More\ninfo: http:\/\/kubernetes.io\/docs\/user-guide\/annotations",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ownerReferences": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nList of objects that own this object. If ALL objects in the list have\nbeen deleted, this object will be garbage collected.",
          "type": "array",
          "items": {
            "$ref": "OwnerReference"
          }
        },
        "deletionTimestamp": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nDeletionTimestamp is RFC 3339 date and time at which this resource will be\ndeleted. This field is set by the server when a graceful deletion is\nrequested by the user, and is not directly settable by a client. The\nresource is expected to be deleted (no longer visible from resource lists,\nand not reachable by name) after the time in this field, once the\nfinalizers list is empty. As long as the finalizers list contains items,\ndeletion is blocked. Once the deletionTimestamp is set, this value may not\nbe unset or be set further into the future, although it may be shortened or\nthe resource may be deleted prior to this time. For example, a user may\nrequest that a pod is deleted in 30 seconds. The Kubelet will react by\nsending a graceful termination signal to the containers in the pod. After\nthat 30 seconds, the Kubelet will send a hard termination signal (SIGKILL)\nto the container and after cleanup, remove the pod from the API. In the\npresence of network partitions, this object may still exist after this\ntimestamp, until an administrator or automated process can determine the\nresource is fully terminated.\nIf not set, graceful deletion of the object has not been requested.\n\nPopulated by the system when a graceful deletion is requested.\nRead-only.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        },
        "deletionGracePeriodSeconds": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nNumber of seconds allowed for this object to gracefully terminate before\nit will be removed from the system. Only set when deletionTimestamp is also\nset. May only be shortened. Read-only.",
          "type": "integer",
          "format": "int32"
        },
        "finalizers": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nMust be empty before the object is deleted from the registry. Each entry\nis an identifier for the responsible component that will remove the entry\nfrom the list. If the deletionTimestamp of the object is non-nil, entries\nin this list can only be removed.\n+patchStrategy=merge",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterName": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe name of the cluster which the object belongs to.\nThis is used to distinguish resources with same name and namespace in\ndifferent clusters. This field is not set anywhere right now and apiserver\nis going to ignore it if set in create or update request.",
          "type": "string"
        }
      }
    },
    "OwnerReference": {
      "id": "OwnerReference",
      "description": "OwnerReference contains enough information to let you identify an owning\nobject. Currently, an owning object must be in the same namespace, so there\nis no namespace field.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "API version of the referent.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of the referent.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#types-kinds",
          "type": "string"
        },
        "name": {
          "description": "Name of the referent.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#names",
          "type": "string"
        },
        "uid": {
          "description": "UID of the referent.\nMore info: http:\/\/kubernetes.io\/docs\/user-guide\/identifiers#uids",
          "type": "string"
        },
        "controller": {
          "description": "If true, this reference points to the managing controller.\n+optional",
          "type": "boolean"
        },
        "blockOwnerDeletion": {
          "description": "If true, AND if the owner has the \"foregroundDeletion\" finalizer, then\nthe owner cannot be deleted from the key-value store until this\nreference is removed.\nDefaults to false.\nTo set this field, a user needs \"delete\" permission of the owner,\notherwise 422 (Unprocessable Entity) will be returned.\n+optional",
          "type": "boolean"
        }
      }
    },
    "CloudAuditLogsSourceSpec": {
      "id": "CloudAuditLogsSourceSpec",
      "description": "The desired state of the CloudAuditLogsSource.",
      "type": "object",
      "properties": {
        "sink": {
          "description": "Sink is a reference to an object that will resolve to a uri to use as the\nsink.",
          "$ref": "Destination"
        },
        "ceOverrides": {
          "description": "CloudEventOverrides defines overrides to control the output format and\nmodifications of the event sent to the sink.",
          "$ref": "CloudEventOverrides"
        },
        "serviceAccountName": {
          "description": "Optional. ServiceAccountName is the k8s service account which binds to a google\nservice account. This google service account has required permissions to\npoll from a Cloud Pub\/Sub subscription. If not specified, defaults to use\nsecret.",
          "type": "string"
        },
        "secret": {
          "description": "Optional. Secret is the credential to use to create the Scheduler Job.\nIf not specified, defaults to:\nName: google-cloud-key\nKey: key.json",
          "$ref": "SecretKeySelector"
        },
        "project": {
          "description": "Optional. Project is the ID of the Google Cloud Project that the CloudPubSubSource\nTopic exists in. If omitted, defaults to same as the cluster.",
          "type": "string"
        },
        "serviceName": {
          "description": "Required. The GCP service providing audit logs. Required.",
          "type": "string"
        },
        "methodName": {
          "description": "Required. The name of the service method or operation. For API calls,\nthis should be the name of the API method. Required.",
          "type": "string"
        },
        "resourceName": {
          "description": "Optional. The resource or collection that is the target of the\noperation. The name is a scheme-less URI, not including the\nAPI service name.",
          "type": "string"
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "ref": {
          "description": "ObjectReference points to an Addressable.\n+ optional",
          "$ref": "ObjectReference"
        },
        "uri": {
          "description": "URI is for direct URI Designations or used with the resulting URL from\nAddressable ObjectReference. If used with an ObjectReference, will be\nappended to the path of the resulting URL from the Addressable.\n+ optional",
          "type": "string"
        }
      }
    },
    "ObjectReference": {
      "id": "ObjectReference",
      "description": "ObjectReference contains enough information to let you inspect or modify the\nreferred object.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of the referent.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#types-kinds\n+optional",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace of the referent.\nMore info:\nhttps:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/namespaces\/\n+optional",
          "type": "string"
        },
        "name": {
          "description": "Name of the referent.\nMore info:\nhttps:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#names\n+optional",
          "type": "string"
        },
        "uid": {
          "description": "UID of the referent.\nMore info:\nhttps:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#uids\n+optional",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version of the referent.\n+optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "Specific resourceVersion to which this reference is made, if any.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        },
        "fieldPath": {
          "description": "If referring to a piece of an object instead of an entire object, this\nstring should contain a valid JSON\/Go field access statement, such as\ndesiredState.manifest.containers[2]. For example, if the object reference\nis to a container within a pod, this would take on a value like:\n\"spec.containers{name}\" (where \"name\" refers to the name of the container\nthat triggered the event) or if no container name is specified\n\"spec.containers[2]\" (container with index 2 in this pod). This syntax is\nchosen only to have some well-defined way of referencing a part of an\nobject.",
          "type": "string"
        }
      }
    },
    "CloudEventOverrides": {
      "id": "CloudEventOverrides",
      "description": "CloudEventOverrides defines arguments for a Source that control the output\nformat of the CloudEvents produced by the Source.",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Extensions specify what attribute are added or overridden on the outbound\nevent. Each `Extensions` key-value pair are set on the event as an\nattribute extension independently.\n+optional",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SecretKeySelector": {
      "id": "SecretKeySelector",
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSecretKeySelector selects a key of a Secret.",
      "type": "object",
      "properties": {
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined\ndirectly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "key": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe key of the secret to select from.  Must be a valid secret key.",
          "type": "string"
        },
        "optional": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nSpecify whether the Secret or its key must be defined",
          "type": "boolean"
        },
        "name": {
          "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nThe name of the secret in the pod's namespace to select from.",
          "type": "string"
        }
      }
    },
    "LocalObjectReference": {
      "id": "LocalObjectReference",
      "description": "Cloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nLocalObjectReference contains enough information to let you locate the\nreferenced object inside the same namespace.",
      "type": "object",
      "properties": {
        "name": {
          "description": "(Optional)\n\nCloud Run fully managed: not supported\n\nCloud Run for Anthos: supported\n\nName of the referent.\nMore info:\nhttps:\/\/kubernetes.io\/docs\/concepts\/overview\/working-with-objects\/names\/#names",
          "type": "string"
        }
      }
    },
    "CloudAuditLogsSourceStatus": {
      "id": "CloudAuditLogsSourceStatus",
      "description": "CloudAuditLogsSourceStatus represents the current state of a\nCloudAuditLogsSource.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the CloudPubSubSource that\nwas last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions the latest available observations of a resource's current state.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "annotations": {
          "description": "Annotations is additional Status fields for the Resource to save some\nadditional State as well as convey more information to the user. This is\nroughly akin to Annotations on any k8s resource, just the reconciler\nconveying richer information outwards.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account associated with Google\nservice account.",
          "type": "string"
        },
        "sinkUri": {
          "description": "SinkURI is the current active sink URI that has been configured for the\nSource.",
          "type": "string"
        },
        "ceAttributes": {
          "description": "CloudEventAttributes are the specific attributes that the Source uses\nas part of its CloudEvents.",
          "type": "array",
          "items": {
            "$ref": "CloudEventAttributes"
          }
        },
        "projectId": {
          "description": "ProjectID is the project ID of the Topic, might have been resolved.",
          "type": "string"
        },
        "topicId": {
          "description": "TopicID where the notifications are sent to.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "SubscriptionID is the created subscription ID.",
          "type": "string"
        },
        "stackDriverSink": {
          "description": "ID of the Stackdriver sink used to publish audit log messages.",
          "type": "string"
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "Condition defines a generic condition for a Resource",
      "type": "object",
      "properties": {
        "type": {
          "description": "type is used to communicate the status of the reconciliation process.\nSee also:\nhttps:\/\/github.com\/knative\/serving\/blob\/master\/docs\/spec\/errors.md#error-conditions-and-reporting\nTypes common to all resources include:\n* \"Ready\": True when the Resource is ready.",
          "type": "string"
        },
        "status": {
          "description": "Status of the condition, one of True, False, Unknown.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. One-word CamelCase reason for the condition's last transition.",
          "type": "string"
        },
        "message": {
          "description": "Optional. Human readable message indicating details about the current status.",
          "type": "string"
        },
        "lastTransitionTime": {
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "severity": {
          "description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info",
          "type": "string"
        }
      }
    },
    "CloudEventAttributes": {
      "id": "CloudEventAttributes",
      "description": "CloudEventAttributes are the specific attributes that the Source uses\nas part of its CloudEvents.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type refers to the CloudEvent type attribute.",
          "type": "string"
        },
        "source": {
          "description": "Source is the CloudEvents source attribute.",
          "type": "string"
        }
      }
    },
    "ListCloudAuditLogsSourcesResponse": {
      "id": "ListCloudAuditLogsSourcesResponse",
      "description": "ListCloudAuditLogsSourcesResponse is a list of CloudAuditLogsSource\nresources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"CloudAuditLogsSourceList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudAuditLogsSource list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of CloudAuditLogsSources.",
          "type": "array",
          "items": {
            "$ref": "CloudAuditLogsSource"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListMeta": {
      "id": "ListMeta",
      "description": "ListMeta describes metadata that synthetic resources must have, including\nlists and various status objects. A resource may have only one of\n{ObjectMeta, ListMeta}.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "SelfLink is a URL representing this object.\nPopulated by the system.\nRead-only.\n+optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "String that identifies the server's internal version of this object that\ncan be used by clients to determine when objects have changed. Value must\nbe treated as opaque by clients and passed unmodified back to the server.\nPopulated by the system.\nRead-only.\nMore info:\nhttps:\/\/git.k8s.io\/community\/contributors\/devel\/api-conventions.md#concurrency-control-and-consistency\n+optional",
          "type": "string"
        },
        "continue": {
          "description": "continue may be set if the user set a limit on the number of items\nreturned, and indicates that the server has more data available. The value\nis opaque and may be used to issue another request to the endpoint that\nserved this list to retrieve the next set of available objects. Continuing\na list may not be possible if the server configuration has changed or more\nthan a few minutes have passed. The resourceVersion field returned when\nusing this continue value will be identical to the value in the first\nresponse.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "CloudPubSubSource": {
      "id": "CloudPubSubSource",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"CloudPubSubSource\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudPubSubSource.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec defines the desired state of the CloudPubSubSource.",
          "$ref": "CloudPubSubSourceSpec"
        },
        "status": {
          "description": "Status represents the current state of the CloudPubSubSource. This data may\nbe out of date. +optional",
          "$ref": "CloudPubSubSourceStatus"
        }
      }
    },
    "CloudPubSubSourceSpec": {
      "id": "CloudPubSubSourceSpec",
      "description": "The desired state of the CloudPubSubSource.",
      "type": "object",
      "properties": {
        "sink": {
          "description": "Sink is a reference to an object that will resolve to a domain name or a\nURI directly to use as the sink.",
          "$ref": "Destination"
        },
        "ceOverrides": {
          "description": "CloudEventOverrides defines overrides to control the output format and\nmodifications of the event sent to the sink.\n+optional",
          "$ref": "CloudEventOverrides"
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account which binds to a google\nservice account. This google service account has required permissions to\npoll from a Cloud Pub\/Sub subscription. If not specified, defaults to use\nsecret.",
          "type": "string"
        },
        "secret": {
          "description": "Secret is the credential to use to create the Scheduler Job.\nIf not specified, defaults to:\nName: google-cloud-key\nKey: key.json",
          "$ref": "SecretKeySelector"
        },
        "project": {
          "description": "Project is the ID of the Google Cloud Project that the CloudPubSubSource\nTopic exists in. If omitted, defaults to same as the cluster.",
          "type": "string"
        },
        "topic": {
          "description": "Topic is the ID of the CloudPubSubSource Topic to Subscribe to. It must\nbe in the form of the unique identifier within the project, not the\nentire name. E.g. it must be 'laconia', not\n'projects\/my-proj\/topics\/laconia'.",
          "type": "string"
        },
        "ackDeadline": {
          "description": "AckDeadline is the default maximum time after a subscriber receives a\nmessage before the subscriber should acknowledge the message. Defaults\nto 30 seconds ('30s').\n+optional",
          "type": "string"
        },
        "retainAckedMessages": {
          "description": "RetainAckedMessages defines whether to retain acknowledged messages. If\ntrue, acknowledged messages will not be expunged until they fall out of\nthe RetentionDuration window.",
          "type": "boolean"
        },
        "retentionDuration": {
          "description": "RetentionDuration defines how long to retain messages in backlog, from\nthe time of publish. If RetainAckedMessages is true, this duration\naffects the retention of acknowledged messages, otherwise only\nunacknowledged messages are retained. Cannot be longer than 7 days or\nshorter than 10 minutes. Defaults to 7 days ('7d').\n+optional",
          "type": "string"
        }
      }
    },
    "CloudPubSubSourceStatus": {
      "id": "CloudPubSubSourceStatus",
      "description": "CloudPubSubSourceStatus represents the current state of a CloudPubSubSource.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the CloudPubSubSource that\nwas last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions the latest available observations of a resource's current state.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "annotations": {
          "description": "Annotations is additional Status fields for the Resource to save some\nadditional State as well as convey more information to the user. This is\nroughly akin to Annotations on any k8s resource, just the reconciler\nconveying richer information outwards.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account associated with Google\nservice account.",
          "type": "string"
        },
        "sinkUri": {
          "description": "SinkURI is the current active sink URI that has been configured for the\nSource.\n+optional",
          "type": "string"
        },
        "ceAttributes": {
          "description": "CloudEventAttributes are the specific attributes that the Source uses\nas part of its CloudEvents.",
          "type": "array",
          "items": {
            "$ref": "CloudEventAttributes"
          }
        },
        "projectId": {
          "description": "ProjectID is the project ID of the Topic, might have been resolved.",
          "type": "string"
        },
        "topicId": {
          "description": "TopicID where the notifications are sent to.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "SubscriptionID is the created subscription ID.",
          "type": "string"
        }
      }
    },
    "ListCloudPubSubSourcesResponse": {
      "id": "ListCloudPubSubSourcesResponse",
      "description": "ListCloudPubSubSourcesResponse is a list of CloudPubSubSource resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"CloudPubSubSourceList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudPubSubSource list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of CloudPubSubSources.",
          "type": "array",
          "items": {
            "$ref": "CloudPubSubSource"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudSchedulerSource": {
      "id": "CloudSchedulerSource",
      "description": "The CloudSchedulerSource resource.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"CloudSchedulerSource\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudSchedulerSource.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec defines the desired state of the CloudSchedulerSource.",
          "$ref": "CloudSchedulerSourceSpec"
        },
        "status": {
          "description": "Status represents the current state of the CloudSchedulerSource. This data\nmay be out of date.",
          "$ref": "CloudSchedulerSourceStatus"
        }
      }
    },
    "CloudSchedulerSourceSpec": {
      "id": "CloudSchedulerSourceSpec",
      "description": "The desired state of the CloudSchedulerSource.",
      "type": "object",
      "properties": {
        "sink": {
          "description": "Sink is a reference to an object that will resolve to a domain name or a\nURI directly to use as the sink.",
          "$ref": "Destination"
        },
        "ceOverrides": {
          "description": "CloudEventOverrides defines overrides to control the output format and\nmodifications of the event sent to the sink.",
          "$ref": "CloudEventOverrides"
        },
        "serviceAccountName": {
          "description": "Optional. ServiceAccountName is the k8s service account which binds to a google\nservice account. This google service account has required permissions to\npoll from a Cloud Pub\/Sub subscription. If not specified, defaults to use\nsecret.",
          "type": "string"
        },
        "secret": {
          "description": "Secret is the credential to use to create the Scheduler Job.\nIf not specified, defaults to:\nName: google-cloud-key\nKey: key.json",
          "$ref": "SecretKeySelector"
        },
        "project": {
          "description": "Project is the ID of the Google Cloud Project that the CloudPubSubSource\nTopic exists in. If omitted, defaults to same as the cluster.",
          "type": "string"
        },
        "location": {
          "description": "Location to create the Scheduler job in.",
          "type": "string"
        },
        "schedule": {
          "description": "Schedule in cron format, for example: \"* * * * *\" would be run\nevery minute.",
          "type": "string"
        },
        "data": {
          "description": "Data to send in the payload of the Event.",
          "type": "string"
        }
      }
    },
    "CloudSchedulerSourceStatus": {
      "id": "CloudSchedulerSourceStatus",
      "description": "CloudSchedulerSourceStatus represents the current state of a\nCloudSchedulerSource.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Array of observed CloudSchedulerSourceConditions, indicating the current\nstate of the CloudSchedulerSource.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the CloudSchedulerSource that\nwas last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "annotations": {
          "description": "Annotations is additional Status fields for the Resource to save some\nadditional State as well as convey more information to the user. This is\nroughly akin to Annotations on any k8s resource, just the reconciler\nconveying richer information outwards.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account associated with Google\nservice account.",
          "type": "string"
        },
        "sinkUri": {
          "description": "SinkURI is the current active sink URI that has been configured for the\nSource.",
          "type": "string"
        },
        "ceAttributes": {
          "description": "CloudEventAttributes are the specific attributes that the Source uses\nas part of its CloudEvents.",
          "type": "array",
          "items": {
            "$ref": "CloudEventAttributes"
          }
        },
        "projectId": {
          "description": "ProjectID is the project ID of the Topic, might have been resolved.",
          "type": "string"
        },
        "topicId": {
          "description": "TopicID where the notifications are sent to.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "SubscriptionID is the created subscription ID.",
          "type": "string"
        },
        "jobName": {
          "description": "JobName is the name of the created scheduler Job on success.",
          "type": "string"
        }
      }
    },
    "ListCloudSchedulerSourcesResponse": {
      "id": "ListCloudSchedulerSourcesResponse",
      "description": "ListCloudSchedulerSourcesResponse is a list of CloudSchedulerSource\nresources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"CloudSchedulerSourceList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudSchedulerSource list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of CloudSchedulerSources.",
          "type": "array",
          "items": {
            "$ref": "CloudSchedulerSource"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudStorageSource": {
      "id": "CloudStorageSource",
      "description": "The CloudStorageSource resource.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"CloudStorageSource\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudStorageSource.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec defines the desired state of the CloudStorageSource.",
          "$ref": "CloudStorageSourceSpec"
        },
        "status": {
          "description": "Status represents the current state of the CloudStorageSource. This data\nmay be out of date.",
          "$ref": "CloudStorageSourceStatus"
        }
      }
    },
    "CloudStorageSourceSpec": {
      "id": "CloudStorageSourceSpec",
      "description": "The desired state of the CloudStorageSource.",
      "type": "object",
      "properties": {
        "sink": {
          "description": "Sink is a reference to an object that will resolve to a domain name or a\nURI directly to use as the sink.",
          "$ref": "Destination"
        },
        "ceOverrides": {
          "description": "CloudEventOverrides defines overrides to control the output format and\nmodifications of the event sent to the sink.",
          "$ref": "CloudEventOverrides"
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account which binds to a google\nservice account. This google service account has required permissions to\npoll from a Cloud Pub\/Sub subscription. If not specified, defaults to use\nsecret.",
          "type": "string"
        },
        "secret": {
          "description": "Secret is the credential to use to create the Scheduler Job.\nIf not specified, defaults to:\nName: google-cloud-key\nKey: key.json",
          "$ref": "SecretKeySelector"
        },
        "project": {
          "description": "Project is the ID of the Google Cloud Project that the PubSub Topic exists\nin. If omitted, defaults to same as the cluster.",
          "type": "string"
        },
        "bucket": {
          "description": "Bucket to subscribe to.",
          "type": "string"
        },
        "eventTypes": {
          "description": "EventTypes to subscribe to. If unspecified, then subscribe to all events.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "objectNamePrefix": {
          "description": "ObjectNamePrefix limits the notifications to objects with this prefix.",
          "type": "string"
        },
        "payloadFormat": {
          "description": "PayloadFormat specifies the contents of the message payload.\nSee https:\/\/cloud.google.com\/storage\/docs\/pubsub-notifications#payload.",
          "type": "string"
        }
      }
    },
    "CloudStorageSourceStatus": {
      "id": "CloudStorageSourceStatus",
      "description": "CloudStorageSourceStatus represents the current state of a\nCloudStorageSource.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the CloudPubSubSource that\nwas last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "Conditions the latest available observations of a resource's current state.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "annotations": {
          "description": "Annotations is additional Status fields for the Resource to save some\nadditional State as well as convey more information to the user. This is\nroughly akin to Annotations on any k8s resource, just the reconciler\nconveying richer information outwards.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountName": {
          "description": "ServiceAccountName is the k8s service account associated with Google\nservice account.",
          "type": "string"
        },
        "sinkUri": {
          "description": "SinkURI is the current active sink URI that has been configured for the\nSource.",
          "type": "string"
        },
        "ceAttributes": {
          "description": "CloudEventAttributes are the specific attributes that the Source uses\nas part of its CloudEvents.",
          "type": "array",
          "items": {
            "$ref": "CloudEventAttributes"
          }
        },
        "projectId": {
          "description": "Project is the ID of the Google Cloud Project that the PubSub Topic exists\nin. If omitted, defaults to same as the cluster.",
          "type": "string"
        },
        "topicId": {
          "description": "TopicID where the notifications are sent to.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "SubscriptionID is the created subscription ID.",
          "type": "string"
        },
        "notificationId": {
          "description": "NotificationID is the ID that GCS identifies this notification as.",
          "type": "string"
        }
      }
    },
    "ListCloudStorageSourcesResponse": {
      "id": "ListCloudStorageSourcesResponse",
      "description": "ListCloudStorageSourcesResponse is a list of CloudStorageSource resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"events.cloud.google.com\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"CloudStorageSourceList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CloudStorageSource list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of CloudStorageSources.",
          "type": "array",
          "items": {
            "$ref": "CloudStorageSource"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomResourceDefinition": {
      "id": "CustomResourceDefinition",
      "description": "CustomResourceDefinition represents a resource that should be exposed on the\nAPI server.  Its name MUST be in the format\n<.spec.name>.<.spec.group>.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"k8s.apiextensions.io\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case always \"CustomResourceDefinition\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CustomResourceDefinition.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec describes how the user wants the resources to appear",
          "$ref": "CustomResourceDefinitionSpec"
        }
      }
    },
    "CustomResourceDefinitionSpec": {
      "id": "CustomResourceDefinitionSpec",
      "description": "CustomResourceDefinitionSpec describes how a user wants their resource to\nappear",
      "type": "object",
      "properties": {
        "group": {
          "description": "Group is the group this resource belongs in",
          "type": "string"
        },
        "version": {
          "description": "Version is the version this resource belongs in\nShould be always first item in Versions field if provided.\nOptional, but at least one of Version or Versions must be set.\nDeprecated: Please use `Versions`.\n+optional",
          "type": "string"
        },
        "names": {
          "description": "Names are the names used to describe this custom resource",
          "$ref": "CustomResourceDefinitionNames"
        },
        "scope": {
          "description": "Scope indicates whether this resource is cluster or namespace scoped.\nDefault is namespaced",
          "type": "string"
        },
        "validation": {
          "description": "Validation describes the validation methods for CustomResources\n+optional",
          "$ref": "CustomResourceValidation"
        },
        "subresources": {
          "description": "Subresources describes the subresources for CustomResources\n+optional",
          "$ref": "CustomResourceSubresources"
        },
        "versions": {
          "description": "Versions is the list of all supported versions for this resource.\nIf Version field is provided, this field is optional.\nValidation: All versions must use the same validation schema for now. i.e.,\ntop level Validation field is applied to all of these versions. Order: The\nversion name will be used to compute the order. If the version string is\n\"kube-like\", it will sort above non \"kube-like\" version strings, which are\nordered lexicographically. \"Kube-like\" versions start with a \"v\", then are\nfollowed by a number (the major version), then optionally the string\n\"alpha\" or \"beta\" and another number (the minor version). These are sorted\nfirst by GA > beta > alpha (where GA is a version with no suffix such as\nbeta or alpha), and then by comparing major version, then minor version. An\nexample sorted list of versions: v10, v2, v1, v11beta2, v10beta3, v3beta1,\nv12alpha1, v11alpha2, foo1, foo10. +optional",
          "type": "array",
          "items": {
            "$ref": "CustomResourceDefinitionVersion"
          }
        },
        "additionalPrinterColumns": {
          "description": "AdditionalPrinterColumns are additional columns shown e.g. in kubectl next\nto the name. Defaults to a created-at column. +optional",
          "type": "array",
          "items": {
            "$ref": "CustomResourceColumnDefinition"
          }
        }
      }
    },
    "CustomResourceDefinitionNames": {
      "id": "CustomResourceDefinitionNames",
      "description": "CustomResourceDefinitionNames indicates the names to serve this\nCustomResourceDefinition",
      "type": "object",
      "properties": {
        "plural": {
          "description": "Plural is the plural name of the resource to serve.  It must match the name\nof the CustomResourceDefinition-registration too: plural.group and it must\nbe all lowercase.",
          "type": "string"
        },
        "singular": {
          "description": "Singular is the singular name of the resource.  It must be all lowercase\nDefaults to lowercased <kind> +optional",
          "type": "string"
        },
        "shortNames": {
          "description": "ShortNames are short names for the resource.  It must be all lowercase.\n+optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Kind is the serialized kind of the resource.  It is normally CamelCase and\nsingular.",
          "type": "string"
        },
        "listKind": {
          "description": "ListKind is the serialized kind of the list for this resource.  Defaults to\n<kind>List. +optional",
          "type": "string"
        },
        "categories": {
          "description": "Categories is a list of grouped resources custom resources belong to (e.g.\n'all') +optional",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomResourceValidation": {
      "id": "CustomResourceValidation",
      "description": "CustomResourceValidation is a list of validation methods for CustomResources.",
      "type": "object",
      "properties": {
        "openAPIV3Schema": {
          "description": "OpenAPIV3Schema is the OpenAPI v3 schema to be validated against.\n+optional",
          "$ref": "JSONSchemaProps"
        }
      }
    },
    "JSONSchemaProps": {
      "id": "JSONSchemaProps",
      "description": "JSONSchemaProps is a JSON-Schema following Specification Draft 4\n(http:\/\/json-schema.org\/).",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        },
        "ref": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "format": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "default": {
          "$ref": "JSON"
        },
        "maximum": {
          "type": "number",
          "format": "double"
        },
        "exclusiveMaximum": {
          "type": "boolean"
        },
        "minimum": {
          "type": "number",
          "format": "double"
        },
        "exclusiveMinimum": {
          "type": "boolean"
        },
        "maxLength": {
          "type": "string",
          "format": "int64"
        },
        "minLength": {
          "type": "string",
          "format": "int64"
        },
        "pattern": {
          "type": "string"
        },
        "maxItems": {
          "type": "string",
          "format": "int64"
        },
        "minItems": {
          "type": "string",
          "format": "int64"
        },
        "uniqueItems": {
          "type": "boolean"
        },
        "multipleOf": {
          "type": "number",
          "format": "double"
        },
        "enum": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxProperties": {
          "type": "string",
          "format": "int64"
        },
        "minProperties": {
          "type": "string",
          "format": "int64"
        },
        "required": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "$ref": "JSONSchemaPropsOrArray"
        },
        "allOf": {
          "type": "array",
          "items": {
            "$ref": "JSONSchemaProps"
          }
        },
        "oneOf": {
          "type": "array",
          "items": {
            "$ref": "JSONSchemaProps"
          }
        },
        "anyOf": {
          "type": "array",
          "items": {
            "$ref": "JSONSchemaProps"
          }
        },
        "not": {
          "$ref": "JSONSchemaProps"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          }
        },
        "additionalProperties": {
          "$ref": "JSONSchemaPropsOrBool"
        },
        "patternProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          }
        },
        "dependencies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JSONSchemaPropsOrStringArray"
          }
        },
        "additionalItems": {
          "$ref": "JSONSchemaPropsOrBool"
        },
        "definitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "JSONSchemaProps"
          }
        },
        "externalDocs": {
          "$ref": "ExternalDocumentation"
        },
        "example": {
          "$ref": "JSON"
        }
      }
    },
    "JSON": {
      "id": "JSON",
      "description": "JSON represents any valid JSON value.\nThese types are supported: bool, int64, float64, string, []interface{},\nmap[string]interface{} and nil.",
      "type": "object",
      "properties": {
        "raw": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "JSONSchemaPropsOrArray": {
      "id": "JSONSchemaPropsOrArray",
      "description": "JSONSchemaPropsOrArray represents a value that can either be a\nJSONSchemaProps or an array of JSONSchemaProps. Mainly here for serialization\npurposes.",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "JSONSchemaProps"
        },
        "jsonSchemas": {
          "type": "array",
          "items": {
            "$ref": "JSONSchemaProps"
          }
        }
      }
    },
    "JSONSchemaPropsOrBool": {
      "id": "JSONSchemaPropsOrBool",
      "description": "JSONSchemaPropsOrBool represents JSONSchemaProps or a boolean value.\nDefaults to true for the boolean property.",
      "type": "object",
      "properties": {
        "allows": {
          "type": "boolean"
        },
        "schema": {
          "$ref": "JSONSchemaProps"
        }
      }
    },
    "JSONSchemaPropsOrStringArray": {
      "id": "JSONSchemaPropsOrStringArray",
      "description": "JSONSchemaPropsOrStringArray represents a JSONSchemaProps or a string array.",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "JSONSchemaProps"
        },
        "property": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExternalDocumentation": {
      "id": "ExternalDocumentation",
      "description": "ExternalDocumentation allows referencing an external resource for extended\ndocumentation.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "CustomResourceSubresources": {
      "id": "CustomResourceSubresources",
      "description": "CustomResourceSubresources defines the status and scale subresources for\nCustomResources.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Status denotes the status subresource for CustomResources\n+optional",
          "$ref": "CustomResourceSubresourceStatus"
        },
        "scale": {
          "description": "Scale denotes the scale subresource for CustomResources\n+optional",
          "$ref": "CustomResourceSubresourceScale"
        }
      }
    },
    "CustomResourceSubresourceStatus": {
      "id": "CustomResourceSubresourceStatus",
      "description": "CustomResourceSubresourceStatus defines how to serve the status subresource\nfor CustomResources. Status is represented by the `.status` JSON path inside\nof a CustomResource. When set,\n* exposes a \/status subresource for the custom resource\n* PUT requests to the \/status subresource take a custom resource object, and\nignore changes to anything except the status stanza\n* PUT\/POST\/PATCH requests to the custom resource ignore changes to the status\nstanza",
      "type": "object",
      "properties": {
      }
    },
    "CustomResourceSubresourceScale": {
      "id": "CustomResourceSubresourceScale",
      "description": "CustomResourceSubresourceScale defines how to serve the scale subresource for\nCustomResources.",
      "type": "object",
      "properties": {
        "specReplicasPath": {
          "description": "SpecReplicasPath defines the JSON path inside of a CustomResource that\ncorresponds to Scale.Spec.Replicas. Only JSON paths without the array\nnotation are allowed. Must be a JSON Path under .spec. If there is no value\nunder the given path in the CustomResource, the \/scale subresource will\nreturn an error on GET.",
          "type": "string"
        },
        "statusReplicasPath": {
          "description": "StatusReplicasPath defines the JSON path inside of a CustomResource that\ncorresponds to Scale.Status.Replicas. Only JSON paths without the array\nnotation are allowed. Must be a JSON Path under .status. If there is no\nvalue under the given path in the CustomResource, the status replica value\nin the \/scale subresource will default to 0.",
          "type": "string"
        },
        "labelSelectorPath": {
          "description": "LabelSelectorPath defines the JSON path inside of a CustomResource that\ncorresponds to Scale.Status.Selector. Only JSON paths without the array\nnotation are allowed. Must be a JSON Path under .status. Must be set to\nwork with HPA. If there is no value under the given path in the\nCustomResource, the status label selector value in the \/scale subresource\nwill default to the empty string. +optional",
          "type": "string"
        }
      }
    },
    "CustomResourceDefinitionVersion": {
      "id": "CustomResourceDefinitionVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the version name, e.g. \u201Cv1\u201D, \u201Cv2beta1\u201D, etc.",
          "type": "string"
        },
        "served": {
          "description": "Served is a flag enabling\/disabling this version from being served via REST\nAPIs",
          "type": "boolean"
        },
        "storage": {
          "description": "Storage flags the version as storage version. There must be exactly one\nflagged as storage version.",
          "type": "boolean"
        }
      }
    },
    "CustomResourceColumnDefinition": {
      "id": "CustomResourceColumnDefinition",
      "description": "CustomResourceColumnDefinition specifies a column for server side printing.",
      "type": "object",
      "properties": {
        "name": {
          "description": "name is a human readable name for the column.",
          "type": "string"
        },
        "type": {
          "description": "type is an OpenAPI type definition for this column.\nSee\nhttps:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/master\/versions\/2.0.md#data-types\nfor more.",
          "type": "string"
        },
        "format": {
          "description": "format is an optional OpenAPI type definition for this column. The 'name'\nformat is applied to the primary identifier column to assist in clients\nidentifying column is the resource name. See\nhttps:\/\/github.com\/OAI\/OpenAPI-Specification\/blob\/master\/versions\/2.0.md#data-types\nfor more. +optional",
          "type": "string"
        },
        "description": {
          "description": "description is a human readable description of this column.\n+optional",
          "type": "string"
        },
        "priority": {
          "description": "priority is an integer defining the relative importance of this column\ncompared to others. Lower numbers are considered higher priority. Columns\nthat may be omitted in limited space scenarios should be given a higher\npriority. +optional",
          "type": "integer",
          "format": "int32"
        },
        "jsonPath": {
          "description": "JSONPath is a simple JSON path, i.e. with array notation.",
          "type": "string"
        }
      }
    },
    "ListCustomResourceDefinitionsResponse": {
      "id": "ListCustomResourceDefinitionsResponse",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"k8s.apiextensions.io\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"CustomResourceDefinitionList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with this CustomResourceDefinition list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of CustomResourceDefinitions.",
          "type": "array",
          "items": {
            "$ref": "CustomResourceDefinition"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Trigger": {
      "id": "Trigger",
      "description": "Represents a request to have events delivered to a consumer from a\nBroker's event pool.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"eventing.knative.dev\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource, in this case \"Trigger\".",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata associated with this Trigger, including name, namespace, and\nannotations.\n.",
          "$ref": "ObjectMeta"
        },
        "spec": {
          "description": "Spec defines the desired state of the Trigger.",
          "$ref": "TriggerSpec"
        },
        "status": {
          "description": "Optional. Status represents the current state of the Trigger. This data may be out of\ndate.",
          "$ref": "TriggerStatus"
        }
      }
    },
    "TriggerSpec": {
      "id": "TriggerSpec",
      "description": "The desired state of the Trigger.",
      "type": "object",
      "properties": {
        "broker": {
          "description": "Optional. Broker is the broker that this trigger receives events from. If not\nprovided, fully-managed Events for Cloud Run uses the `google` broker by\ndefault",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter is the filter to apply against all events from the Broker. Only\nevents that pass this filter will be sent to the Subscriber.",
          "$ref": "TriggerFilter"
        },
        "subscriber": {
          "$ref": "Destination"
        },
        "serviceAccountEmail": {
          "description": "Optional. Email address of the IAM service account associated with the trigger. The\nservice account represents the identity of the trigger and used to generate\nidentity tokens when invoking Cloud Run service specified in the\n\"subscriber\" field. See also\nhttps:\/\/cloud.google.com\/run\/docs\/triggering\/pubsub-push#create-service-account\nfor information on how to invoke authenticated Cloud Run services.",
          "type": "string"
        }
      }
    },
    "TriggerFilter": {
      "id": "TriggerFilter",
      "description": "Filters events based on exact matches on the attributes.",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. Attributes filters events by exact match on event context attributes.\nEach key in the map is compared with the equivalent key in the event\ncontext. An event passes the filter if all values are equal to the\nspecified values.\n\nNested context attributes are not supported as keys.\nOnly string values are supported.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TriggerStatus": {
      "id": "TriggerStatus",
      "description": "The current state of a Trigger.",
      "type": "object",
      "properties": {
        "observedGeneration": {
          "description": "ObservedGeneration is the 'Generation' of the Trigger that\nwas last processed by the controller.",
          "type": "integer",
          "format": "int32"
        },
        "conditions": {
          "description": "As a Trigger is being prepared, it will incrementally\nupdate conditions. Trigger-specific conditions include:\n* \"Subscriber\": True when the target Cloud Run service is resolved.\n* \"Subscribed\": True when the Pub\/Sub topic and subscription associated\nwith the trigger is successfully set up.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "annotations": {
          "description": "Annotations is additional Status fields for the Resource to save some\nadditional State as well as convey more information to the user. This is\nroughly akin to Annotations on any k8s resource, just the reconciler\nconveying richer information outwards.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "subscriberUri": {
          "description": "SubscriberURI is the resolved URI of the receiver for this Trigger.",
          "type": "string"
        }
      }
    },
    "ListTriggersResponse": {
      "id": "ListTriggersResponse",
      "description": "ListTriggersResponse is a list of Trigger resources.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "The API version for this call such as \"eventing.knative.dev\/v1beta1\".",
          "type": "string"
        },
        "kind": {
          "description": "The kind of this resource, in this case \"TriggerList\".",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata associated with this Trigger list.",
          "$ref": "ListMeta"
        },
        "items": {
          "description": "List of Triggers.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "resources": {
    "namespaces": {
      "resources": {
        "cloudauditlogssources": {
          "methods": {
            "create": {
              "id": "anthosevents.namespaces.cloudauditlogssources.create",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudauditlogssources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudauditlogssources",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The project ID or project number in which this cloudauditlogssource should\nbe created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CloudAuditLogsSource"
              },
              "response": {
                "$ref": "CloudAuditLogsSource"
              },
              "description": "Creates a new cloudauditlogssource."
            },
            "list": {
              "id": "anthosevents.namespaces.cloudauditlogssources.list",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudauditlogssources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudauditlogssources",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The project ID or project number from which the cloudauditlogssources\nshould be listed.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCloudAuditLogsSourcesResponse"
              },
              "description": "Rpc to list cloudauditlogssources."
            },
            "get": {
              "id": "anthosevents.namespaces.cloudauditlogssources.get",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudauditlogssources/{cloudauditlogssourcesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the cloudauditlogssource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudauditlogssources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloudAuditLogsSource"
              },
              "description": "Rpc to get information about a cloudauditlogssource."
            },
            "replaceCloudAuditLogsSource": {
              "id": "anthosevents.namespaces.cloudauditlogssources.replaceCloudAuditLogsSource",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudauditlogssources/{cloudauditlogssourcesId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The name of the cloudauditlogssource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudauditlogssources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloudAuditLogsSource"
              },
              "response": {
                "$ref": "CloudAuditLogsSource"
              },
              "description": "Rpc to replace a cloudauditlogssource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control."
            },
            "delete": {
              "id": "anthosevents.namespaces.cloudauditlogssources.delete",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudauditlogssources/{cloudauditlogssourcesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the cloudauditlogssource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudauditlogssources\/[^\/]+$",
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io\/docs\/concepts\/workloads\/controllers\/garbage-collection\/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Rpc to delete a cloudauditlogssource."
            }
          }
        },
        "cloudpubsubsources": {
          "methods": {
            "create": {
              "id": "anthosevents.namespaces.cloudpubsubsources.create",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudpubsubsources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudpubsubsources",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The project ID or project number in which this cloudpubsubsource should\nbe created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CloudPubSubSource"
              },
              "response": {
                "$ref": "CloudPubSubSource"
              },
              "description": "Creates a new cloudpubsubsource."
            },
            "list": {
              "id": "anthosevents.namespaces.cloudpubsubsources.list",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudpubsubsources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudpubsubsources",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The project ID or project number from which the cloudpubsubsources should\nbe listed.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCloudPubSubSourcesResponse"
              },
              "description": "Rpc to list cloudpubsubsources."
            },
            "get": {
              "id": "anthosevents.namespaces.cloudpubsubsources.get",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudpubsubsources/{cloudpubsubsourcesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the cloudpubsubsource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudpubsubsources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloudPubSubSource"
              },
              "description": "Rpc to get information about a cloudpubsubsource."
            },
            "replaceCloudPubSubSource": {
              "id": "anthosevents.namespaces.cloudpubsubsources.replaceCloudPubSubSource",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudpubsubsources/{cloudpubsubsourcesId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The name of the cloudpubsubsource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudpubsubsources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloudPubSubSource"
              },
              "response": {
                "$ref": "CloudPubSubSource"
              },
              "description": "Rpc to replace a cloudpubsubsource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control."
            },
            "delete": {
              "id": "anthosevents.namespaces.cloudpubsubsources.delete",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudpubsubsources/{cloudpubsubsourcesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the cloudpubsubsource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudpubsubsources\/[^\/]+$",
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io\/docs\/concepts\/workloads\/controllers\/garbage-collection\/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Rpc to delete a cloudpubsubsource."
            }
          }
        },
        "cloudschedulersources": {
          "methods": {
            "create": {
              "id": "anthosevents.namespaces.cloudschedulersources.create",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudschedulersources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudschedulersources",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The project ID or project number in which this cloudschedulersource should\nbe created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CloudSchedulerSource"
              },
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "description": "Creates a new cloudschedulersource."
            },
            "list": {
              "id": "anthosevents.namespaces.cloudschedulersources.list",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudschedulersources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudschedulersources",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The project ID or project number from which the cloudschedulersources\nshould be listed.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCloudSchedulerSourcesResponse"
              },
              "description": "Rpc to list cloudschedulersources."
            },
            "get": {
              "id": "anthosevents.namespaces.cloudschedulersources.get",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudschedulersources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "description": "Rpc to get information about a cloudschedulersource."
            },
            "replaceCloudSchedulerSource": {
              "id": "anthosevents.namespaces.cloudschedulersources.replaceCloudSchedulerSource",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudschedulersources\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloudSchedulerSource"
              },
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "description": "Rpc to replace a cloudschedulersource.\n\nOnly the spec and metadata labels and annotations are modifiable. After\nthe Update request, Cloud Run will work to make the 'status'\nmatch the requested 'spec'.\n\nMay provide metadata.resourceVersion to enforce update from last read for\noptimistic concurrency control."
            },
            "delete": {
              "id": "anthosevents.namespaces.cloudschedulersources.delete",
              "path": "apis/events.cloud.google.com/v1beta1/{+name}",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the cloudschedulersource being deleted. If needed, replace\n{namespace_id} with the project ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+\/cloudschedulersources\/[^\/]+$",
                  "type": "string"
                },
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores\nthis setting, and deletes in the background. Please see\nkubernetes.io\/docs\/concepts\/workloads\/controllers\/garbage-collection\/ for\nmore information.",
                  "location": "query",
                  "type": "string"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Rpc to delete a cloudschedulersource."
            }
          }
        },
        "cloudstoragesources": {
          "methods": {
            "create": {
              "id": "anthosevents.namespaces.cloudstoragesources.create",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudstoragesources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudstoragesources",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The project ID or project number in which this cloudstoragesource should\nbe created.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CloudStorageSource"
              },
              "response": {
                "$ref": "CloudStorageSource"
              },
              "description": "Creates a new cloudstoragesource."
            },
            "list": {
              "id": "anthosevents.namespaces.cloudstoragesources.list",
              "path": "apis/events.cloud.google.com/v1beta1/{+parent}/cloudstoragesources",
              "flatPath": "apis/events.cloud.google.com/v1beta1/namespaces/{namespacesId}/cloudstoragesources",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The project ID or project number from which the cloudstoragesources should\nbe listed.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces\/[^\/]+$",
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name.\nSend this in a query string format. i.e. 'metadata.name%3Dlorem'.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are\n=, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should\nstart. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well.\nNot currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCloudStorageSourcesResponse"
              },
              "description": "Rpc to list cloudstoragesources."
            },
            "get": {
              "id": "anthosevents.namespaces.cloudstoragesources.get",
[...]
