{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iam:v1beta",
  "name": "iam",
  "canonicalName": "iam",
  "version": "v1beta",
  "revision": "0",
  "title": "Identity and Access Management (IAM) API",
  "description": "Manages identity and access control for Google Cloud Platform resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iam.googleapis.com/",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iam.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleIamV1betaListWorkloadIdentityPoolsResponse": {
      "id": "GoogleIamV1betaListWorkloadIdentityPoolsResponse",
      "description": "Response message for ListWorkloadIdentityPools.",
      "type": "object",
      "properties": {
        "workloadIdentityPools": {
          "description": "The WorkloadIdentityPools from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1betaWorkloadIdentityPool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPool": {
      "id": "GoogleIamV1betaWorkloadIdentityPool",
      "description": "Represents a collection of workloads. WorkloadIdentityPools can be used in\nGoogle Cloud Platform policies, such as in IAM to give workloads\nauthorization to access to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the pool.",
          "type": "string"
        },
        "displayName": {
          "description": "A user-specified name for the WorkloadIdentityPool.\nThe value must be less than or equal to 32 characters.",
          "type": "string"
        },
        "description": {
          "description": "A user-specified description about this pool.\nThe value must be less than or equal to 256 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the WorkloadIdentityPool.\n\nNote: Users should code against state enums with the expectation that new\nvalues may be added in the future.",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPool is active and may be used in Google Cloud\nPlatform policies.",
            "The WorkloadIdentityPool is soft-deleted. Soft-deleted\nWorkloadIdentityPools are permanently deleted after approximately 30 days\nunless restored via\nUndeleteWorkloadIdentityPool.\nIDs of soft-deleted WorkloadIdentityPools may not be reused until after\nthe resource has been permanently deleted.\n\nPreviously issued Access tokens for a workload identity pool will be\nrejected while the pool is deleted but will start working again if the\npool is undeleted. Issuance of new tokens will fail while the account\nis deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "disabled": {
          "description": "Whether the WorkloadIdentityPool is disabled. A disabled\nWorkloadIdentityPool cannot be used to perform new token exchanges.\nPreviously issued Access tokens for a workload identity pool will be\nrejected while the pool is disabled but will start working again if the\npool is re-enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`\/`Create`\/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest": {
      "id": "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest",
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse": {
      "id": "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse",
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "type": "object",
      "properties": {
        "workloadIdentityPoolProviders": {
          "description": "The WorkloadIdentityPoolProviders from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.\nIf this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProvider": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProvider",
      "description": "Configuration for how Identity Platform will validate authentication\ncredentials minted by an Identity Provider. The total size of a\nWorkloadIdentityPoolProvider may not exceed 100kb. Requests whose outcome\nwould cause a WorkloadIdentityPoolProvider to exceed this limit will be\nrejected.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the WorkloadIdentityPoolProvider.",
          "type": "string"
        },
        "displayName": {
          "description": "A user-specified name for the WorkloadIdentityPoolProvider.\nThe value must be less than or equal to 32 characters.",
          "type": "string"
        },
        "description": {
          "description": "A user-specified description for the WorkloadIdentityPoolProvider.\nThe value must be less than or equal to 256 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the WorkloadIdentityPoolProvider.\n\nNote: Users should code against state enums with the expectation that new\nvalues may be added in the future.",
          "enumDescriptions": [
            "State unspecified.",
            "The WorkloadIdentityPoolProvider is active and may be used to validate\nauthentication credentials.",
            "The WorkloadIdentityPoolProvider is soft-deleted. Soft-deleted\nWorkloadIdentityPoolProviders are permanently deleted after approximately\n30 days unless restored via\nUndeleteWorkloadIdentityPoolProvider.\nIDs of soft-deleted WorkloadIdentityPoolProviders may not be reused until\nafter the resource has been permanently deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ]
        },
        "disabled": {
          "description": "Whether the WorkloadIdentityPoolProvider is disabled. A disabled\nWorkloadIdentityPoolProvider cannot be used to perform new token exchanges.\nExisting Google Cloud Platform authentication tokens are unaffected when a\nWorkloadIdentityPoolProvider is disabled.",
          "type": "boolean"
        },
        "attributeMapping": {
          "description": "Maps claims from the authentication credentials issued by the Provider\ninto Google Cloud Platform IAM attributes, e.g. subject, segment.\n\nEach key must be a string specifying the Google Cloud Platform IAM\nattribute to be produced.\n\nThe following predefined keys are currently supported:\n\n* google.subject - indicates the principal that is being authenticated to\n                   IAM, and will be logged in all API accesses for which\n                   Cloud Audit Logging is configured. The mapped subject\n                   may be at most 100 characters.\n\n* google.groups - indicates asserted groups that the workload should be\n                  considered to belong to. You can create IAM bindings\n                  using the group attribute and access to a resource will\n                  be granted if any of the groups asserted here match a\n                  group in the respective binding.\n\nCustom attributes can also be mapped by specifying\n'attribute.{custom_attribute}', replacing {custom_attribute} with the\nname of the custom attribute to be mapped. A maximum of 50 custom attribute\nmappings can be defined. The maximum length of a mapped attribute key is\n100 characters and may only contain the characters [a-z0-9-].\n\nThese attributes can then be referenced in IAM policies to define\nfine-grained access for the workload to GCP resources by specifying:\n\n* google.subject               -\n'principal:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/subject\/{value}'\n\n* google.groups                -\n'principalSet:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/group\/{value}'\n\n* attribute.{custom_attribute} -\n'principalSet:\/\/iam.googleapis.com\/projects\/{project}\/locations\/{location}\/workloadIdentityPools\/{pool}\/attribute.{custom_attribute}\/{value}'\n\nEach value must be a Common Expression Language\n(https:\/\/opensource.google\/projects\/cel) function that maps an\nIdentity Provider token to the normalized attribute specified by the\ncorresponding map key.\n\nThe following keywords may be referenced in the expressions:\n\n* assertion - JSON representing the authentication credential issued by the\n              Provider.\n\nThe maximum length of an attribute mapping expression is 2048 characters.\nWhen evaluated, the total size of all mapped attributes must not exceed\n1kb.\n\nFor AWS-type providers the following rules apply:\n\n- If no attribute mapping is defined for an AWS-type provider, the\nfollowing default mapping will be applied during the exchange:\n\n{\n  \"google.subject\":\"assertion.arn\",\n  \"attribute.aws_role\":\n      \u201Cassertion.arn.contains('assumed-role')\u201D\n      \u201C ? assertion.arn.extract('{account_arn}assumed-role\/')\u201D\n      \u201C   + 'assumed-role\/'\u201D\n      \u201C   + assertion.arn.extract('assumed-role\/{role_name}\/')\u201D\n      \u201C : assertion.arn\u201D,\n}\n\n-  If any custom attribute mappings are defined they must include a mapping\nto the `google.subject` attribute.\n\n\nFor OIDC-type providers the following rules apply:\n\n-  Custom attribute mappings must be defined and must include a mapping to\nthe `google.subject` attribute.\n\n\nExample: Map the 'sub' claim of the incoming credential to the\n         'subject' Google Cloud Platform IAM attribute.\n\n             {\"google.subject\": \"assertion.sub\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributeCondition": {
          "description": "A Common Expression Language (https:\/\/opensource.google\/projects\/cel)\nexpression in plain text to restrict which otherwise valid authentication\ncredentials issued by the provider should not be accepted.\n\nThe expression must output a boolean representing whether to allow the\nfederation.\n\nThe following keywords may be referenced in the expressions:\n\n  assertion - JSON representing the authentication credential issued by the\n              Provider.\n  google    - the Google attributes mapped from the assertion in the\n              attrubute_mappings.\n  attribute - the custom attributes mapped from the assertion in the\n              attribute_mappings.\n\nThe maximum length of the attribute condition expression is 4096\ncharacters. If unspecified, all valid authentication credential will be\naccepted.\n\nExample: Only allow credentials with a mapped google.groups value of\n         'admins'.\n\n             \"'admins' in google.groups\"",
          "type": "string"
        },
        "aws": {
          "description": "An Amazon Web Services identity provider.",
          "$ref": "GoogleIamV1betaWorkloadIdentityPoolProviderAws"
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider.",
          "$ref": "GoogleIamV1betaWorkloadIdentityPoolProviderOidc"
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProviderAws": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProviderAws",
      "description": "Represents an Amazon Web Services identity provider.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The AWS account ID.",
          "type": "string"
        },
        "stsUri": {
          "description": "A list of AWS STS URIs to limit the allowed STS hostname in the AWS\nsigned requests used for authentication. If it is not provided, any valid\nAWS STS URI given the AWS signed request during the credential exchange\nis allowed. Each URI must be in the form\n\u2018https:\/\/sts.amazonaws.com\u2019 or\n'https:\/\/sts.{region}.amazonaws.com' where {region} is a valid AWS\nregion. A maximum of 25 URIs may be specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1betaWorkloadIdentityPoolProviderOidc": {
      "id": "GoogleIamV1betaWorkloadIdentityPoolProviderOidc",
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "type": "object",
      "properties": {
        "issuerUri": {
          "description": "Required. The OIDC issuer URL.",
          "type": "string"
        },
        "allowedAudiences": {
          "description": "Acceptable values for the \"aud\" field (audience) in the OIDC token. Token\nexchange requests be rejected if the token audience does not match one of\nthe configured values. Each audience may be at most 256 characters. A\nmaximum of 10 audiences may be configured.\n\nIf this list is empty, the OIDC token audience must be equal to\nthe full canonical resource name of the WorkloadIdentityPoolProvider,\nwith or without an HTTPS prefix:\n\n    '\/\/iam.googleapis.com\/projects\/<project-number>\/locations\/<location>\/workloadIdentityPools\/<pool-id>\/providers\/<provider-id>'\n    'https:\/\/iam.googleapis.com\/projects\/<project-number>\/locations\/<location>\/workloadIdentityPools\/<pool-id>\/providers\/<provider-id>'",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest": {
      "id": "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest",
      "description": "Request message for UndeleteWorkloadIdentityPoolProvider.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleIamAdminV1AuditData": {
      "id": "GoogleIamAdminV1AuditData",
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is\nserialized as an `Any` type in the `ServiceData` message of an\n`AuditLog` message.",
      "type": "object",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "GoogleIamAdminV1AuditDataPermissionDelta"
        }
      }
    },
    "GoogleIamAdminV1AuditDataPermissionDelta": {
      "id": "GoogleIamAdminV1AuditDataPermissionDelta",
      "description": "A PermissionDelta message to record the added_permissions and\nremoved_permissions inside a role.",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "Added permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1LoggingAuditData": {
      "id": "GoogleIamV1LoggingAuditData",
      "description": "Audit log information specific to Cloud IAM. This message is serialized\nas an `Any` type in the `ServiceData` message of an\n`AuditLog` message.",
      "type": "object",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "GoogleIamV1PolicyDelta"
        }
      }
    },
    "GoogleIamV1PolicyDelta": {
      "id": "GoogleIamV1PolicyDelta",
      "description": "The difference delta between two policies.",
      "type": "object",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1BindingDelta"
          }
        }
      }
    },
    "GoogleIamV1BindingDelta": {
      "id": "GoogleIamV1BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each\nentry) to a binding will be a separate entry.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding.\nRequired",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to `members`.\nFor example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.\nRequired",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource.\nFollows the same format of Binding.members.\nRequired",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https:\/\/github.com\/google\/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() < 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "list": {
                  "id": "iam.projects.locations.workloadIdentityPools.list",
                  "path": "v1beta/{+parent}/workloadIdentityPools",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource, which owns this collection of WorkloadIdentityPools.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of WorkloadIdentityPools to return.\nIf unspecified, at most 50 pools will be returned.\nThe maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListWorkloadIdentityPools`\ncall. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Whether to return soft-deleted resources.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1betaListWorkloadIdentityPoolsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all non-deleted\nWorkloadIdentityPools in a\nproject. If show_deleted = true, then deleted pools are also listed."
                },
                "get": {
                  "id": "iam.projects.locations.workloadIdentityPools.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to retrieve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Reads an individual\nWorkloadIdentityPool."
                },
                "create": {
                  "id": "iam.projects.locations.workloadIdentityPools.create",
                  "path": "v1beta/{+parent}/workloadIdentityPools",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this pool will be created. Supported locations\nare:\n  \"global\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+$",
                      "type": "string"
                    },
                    "workloadIdentityPoolId": {
                      "description": "Required. The ID to use for the WorkloadIdentityPool, which will become the\nfinal component of the resource name. This value should be 4-32 characters\nand may contain the characters [a-z0-9-].",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new\nWorkloadIdentityPool. The name\nof deleted pool cannot be reused if it was deleted less than 30 days ago."
                },
                "patch": {
                  "id": "iam.projects.locations.workloadIdentityPools.patch",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the pool.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields whose values are to be replaced.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaWorkloadIdentityPool"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing\nWorkloadIdentityPool."
                },
                "delete": {
                  "id": "iam.projects.locations.workloadIdentityPools.delete",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a\nWorkloadIdentityPool.\n\nA deleted WorkloadIdentityPool cannot be used for exchange of third party\ncredentials for Google Cloud Platform credentials. However, deleting does\nnot revoke credentials that have already been issued. This is a soft delete\nand can be undeleted for 30 days. After 30 days, the delete is permanent.\nDeleted items cannot be updated. However they can be viewed and listed.\nCredentials that were issued for a pool will not work while the pool is\ndeleted. Once the pool is undeleted the credentials will work again if they\nhave not expired."
                },
                "undelete": {
                  "id": "iam.projects.locations.workloadIdentityPools.undelete",
                  "path": "v1beta/{+name}:undelete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:undelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the WorkloadIdentityPool to undelete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleIamV1betaUndeleteWorkloadIdentityPoolRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Undeletes a WorkloadIdentityPool\nas long as it was deleted less than 30 days ago."
                }
              }
              ,
              "resources": {
                "providers": {
                  "methods": {
                    "list": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.list",
                      "path": "v1beta/{+parent}/providers",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource, which owns this collection of\nWorkloadIdentityPoolProviders.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of WorkloadIdentityPoolProviders to return.\nIf unspecified, at most 50 WorkloadIdentityPoolProviders will be returned.\nThe maximum value is 100; values above 100 will be coerced to 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous\n`ListWorkloadIdentityPoolProviders` call. Provide this to retrieve the\nsubsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "showDeleted": {
                          "description": "Whether to return soft-deleted resources.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleIamV1betaListWorkloadIdentityPoolProvidersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all non-deleted\nWorkloadIdentityPoolProviders\nin a WorkloadIdentityPool.\nIf show_deleted = true, then deleted providers are also listed."
                    },
                    "get": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.get",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to retrieve.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Reads an individual\nWorkloadIdentityPoolProvider."
                    },
                    "create": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.create",
                      "path": "v1beta/{+parent}/providers",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this WorkloadIdentityPoolProvider will be\ncreated.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+$",
                          "type": "string"
                        },
                        "workloadIdentityPoolProviderId": {
                          "description": "Required. The ID to use for the WorkloadIdentityPoolProvider, which will become the\nfinal component of the resource name. This value should be 4-32 characters\nand may contain the characters [a-z0-9-].",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new\nWorkloadIdentityPoolProvider\nin a WorkloadIdentityPool. The\nname of deleted provider cannot be reused if it was deleted less than 30\ndays ago."
                    },
                    "patch": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.patch",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Output only. The resource name of the WorkloadIdentityPoolProvider.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. The list of fields whose values are to be replaced.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaWorkloadIdentityPoolProvider"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing\nWorkloadIdentityPoolProvider."
                    },
                    "delete": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.delete",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a\nWorkloadIdentityPoolProvider.\n\nA deleted provider cannot be used for exchange of third party credentials\nfor Google Cloud Platform credentials. However, deleting does not revoke\ncredentials that have already been issued. This is a soft delete and can be\nundeleted for 30 days. After 30 days, the delete is permanent. Deleted\nitems cannot be updated. However they can be viewed and listed."
                    },
                    "undelete": {
                      "id": "iam.projects.locations.workloadIdentityPools.providers.undelete",
                      "path": "v1beta/{+name}:undelete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}:undelete",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the WorkloadIdentityPoolProvider to undelete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects\/[^\/]+\/locations\/[^\/]+\/workloadIdentityPools\/[^\/]+\/providers\/[^\/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleIamV1betaUndeleteWorkloadIdentityPoolProviderRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Undeletes a\nWorkloadIdentityPoolProvider\nas long as it was deleted less than 30 days ago."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}