# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
**/bin/
.DS_Store
# Common VCS dirs
.git/
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
**.idea
.classpath
.settings
*.tmproj
**/.gradle/*
# Ignore folder named 'build'
**/build*/
**/crypto-config*/*
**/go/*
**/*tmp*/
**/flux_known_hosts
**/fulcrum.iml
**/token
**/target/*
**/*.log
# Ignore node_modules
**/node_modules
# Ignore any file named network
**/network*.yaml
**/network*.yml
