doctype html
html(lang="en")
  include ../templates/head.pug
  body
    #app 
    script(type='text/javascript' src="vendor.js")
    script(type='text/javascript' src="app.js")
    script.
      require('initialize')