fabric-samples/
fabric-network/bin/
crypto-config/
bin/
!k8s-files/bin
*.tx
*.block
*.base64

rest-server/identities
rest-server/error.log
rest-server/dist/

fabric-dev-network/

chaincode/**/vendor/*
chaincode/**/cmd/cmd

**/node_modules/

*.pem
!chaincode/testdata/*.pem
*.csr
*.base64
*.cert

.DS_Store
package-lock.json
