# This file is used by readthedocs before the build is run
# and contains all the pip install commands that need to be run before running the build
###### Installs or upgrades the recommonmark module ######
recommonmark
###### Installs the mSphinx theme ######
sphinx_rtd_theme
###### Installs the markdown required for tables ######
sphinx_markdown_tables
## Install mermaid ##
sphinxcontrib-mermaid